name: Run tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os-version: [ 'ubuntu-latest', 'windows-latest' ]

    runs-on: ${{ matrix.os-version }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - if: matrix.os-version == 'ubuntu-latest'
      name: Set TESTING environment variable (ubuntu)
      run: echo "TESTING=True" >> $GITHUB_ENV
    - if: matrix.os-version == 'windows-latest'
      name: Set TESTING environment variable (windows)
      run: echo "TESTING=True" >> $env:GITHUB_ENV

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        cache: 'pip' # caching pip dependencies
        python-version-file: '.python-version'
    - name: Install Python Dependencies
      run: pip install -r requirements.txt
    - name: Run Django system check
      run: python manage.py check
    - name: Collect static files
      run: python manage.py collectstatic --noinput
    - name: Run KMUHelper Tests
      run: python manage.py test kmuhelper_tests
